<% provide(:title, 'Contact') %>
<h1><%= t 'app.views.static_pages.contact.title' %></h1>
<p>
  <%= t 'app.views.static_pages.contact.me1' %>
  <a href="http://railstutorial.jp/contact"><%= t 'app.views.static_pages.contact.me2' %></a>
</p>