<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<% trans = t 'app.views.shared._user_info.profile' %>
<span><%= link_to trans, current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>